<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminLoginConf</servlet-name>
        <servlet-class>admin.AdminLoginConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StuRegConf</servlet-name>
        <servlet-class>student.StuRegConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginConf</servlet-name>
        <servlet-class>student.LoginConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestion</servlet-name>
        <servlet-class>student.AddQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDeleteQuestion</servlet-name>
        <servlet-class>admin.UpdateDeleteQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>student.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComputerResult</servlet-name>
        <servlet-class>student.ComputerResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StuChangePassword</servlet-name>
        <servlet-class>student.StuChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>student.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLoginConf</servlet-name>
        <url-pattern>/AdminLoginConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StuRegConf</servlet-name>
        <url-pattern>/StuRegConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginConf</servlet-name>
        <url-pattern>/LoginConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestion</servlet-name>
        <url-pattern>/AddQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDeleteQuestion</servlet-name>
        <url-pattern>/UpdateDeleteQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComputerResult</servlet-name>
        <url-pattern>/ComputerResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StuChangePassword</servlet-name>
        <url-pattern>/StuChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
